In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = {
    'Years of Experience': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25],
    'Salary': [40000,42000,44000,46000,48000,50000,52000,54000,56000,58000,60000,62000,64000,66000,68000,70000,72000,74000,76000,78000,80000,82000,84000,86000,88000]
}
df = pd.DataFrame(Data) #Create a DataFrame

In [3]:
df

    Years of Experience  Salary
0                     1   40000
1                     2   42000
2                     3   44000
3                     4   46000
4                     5   48000
5                     6   50000
6                     7   52000
7                     8   54000
8                     9   56000
9                    10   58000
10                   11   60000
11                   12   62000
12                   13   64000
13                   14   66000
14                   15   68000
15                   16   70000
16                   17   72000
17                   18   74000
18                   19   76000
19                   20   78000
20                   21   80000
21                   22   82000
22                   23   84000
23                   24   86000
24                   25   88000

# Mean

In [4]:
df.mean()

Years of Experience       13.0
Salary                 64000.0
dtype: float64

In [5]:
df['Salary'].mean()

64000.0

# Median

In [6]:
df.median()

Years of Experience       13.0
Salary                 64000.0
dtype: float64

In [7]:
df['Salary'].median()

64000.0

# Mode

In [8]:
df['Salary'].mode()

0     40000
1     42000
2     44000
3     46000
4     48000
5     50000
6     52000
7     54000
8     56000
9     58000
10    60000
11    62000
12    64000
13    66000
14    68000
15    70000
16    72000
17    74000
18    76000
19    78000
20    80000
21    82000
22    84000
23    86000
24    88000
Name: Salary, dtype: int64

# Variance

In [9]:
df.var() #this will give variance of entire dataframe

Years of Experience    5.416667e+01
Salary                 2.166667e+08
dtype: float64

In [10]:
df['Salary'].var() #this will give us variance of that particular column

216666666.66666666

# Standard Deviation

In [11]:
df.std() #this will give Standard Deviation of entire dataframe

Years of Experience        7.359801
Salary                 14719.601444
dtype: float64

In [12]:
df['Salary'].std() #this will give us Standard Deviation of that particular column

14719.601443879745

#

# Coefficient of Variance (cv)

In [13]:
#For calculating Coefficient Of Variance(cv) we have to import a Library First

from scipy.stats import variation
variation(df.values) #this will give cv of entire DataFrame

array([0.5547002 , 0.22534695])

In [14]:
variation(df['Salary']) #this will give cv of particular column

0.22534695471649935

# Correlation

In [15]:
df.corr()

                     Years of Experience  Salary
Years of Experience                  1.0     1.0
Salary                               1.0     1.0

In [16]:
df['Salary'].corr(df['Years of Experience'])

1.0

# Skewness

In [17]:
df.skew()

Years of Experience    0.0
Salary                 0.0
dtype: float64

In [18]:
df['Salary'].skew()

0.0

# Standard Error

In [19]:
df.sem()

Years of Experience       1.471960
Salary                 2943.920289
dtype: float64

In [20]:
df['Salary'].sem() #this will give Standard Error of particular Column

2943.920288775949

In [21]:
df['Years of Experience'].sem()

1.4719601443879744

# Z-score

In [22]:
#for calculating Z-score we have to import a library first
import scipy.stats as stats
df.apply(stats.zscore) #this will give Z-score of entire DataFrame

    Years of Experience    Salary
0             -1.664101 -1.664101
1             -1.525426 -1.525426
2             -1.386750 -1.386750
3             -1.248075 -1.248075
4             -1.109400 -1.109400
5             -0.970725 -0.970725
6             -0.832050 -0.832050
7             -0.693375 -0.693375
8             -0.554700 -0.554700
9             -0.416025 -0.416025
10            -0.277350 -0.277350
11            -0.138675 -0.138675
12             0.000000  0.000000
13             0.138675  0.138675
14             0.277350  0.277350
15             0.416025  0.416025
16             0.554700  0.554700
17             0.693375  0.693375
18             0.832050  0.832050
19             0.970725  0.970725
20             1.109400  1.109400
21             1.248075  1.248075
22             1.386750  1.386750
23             1.525426  1.525426
24             1.664101  1.664101

In [23]:
# Calculate Z-scores for each column
z_score_experience = (df['Years of Experience'] - df['Years of Experience'].mean()) / df['Years of Experience'].std()
z_score_salary = (df['Salary'] - df['Salary'].mean()) / df['Salary'].std()
# Add Z-score columns to the DataFrame
df['Z-score Experience'] = z_score_experience
df['Z-score Salary'] = z_score_salary

In [24]:
z_score_experience

0    -1.630479
1    -1.494606
2    -1.358732
3    -1.222859
4    -1.086986
5    -0.951113
6    -0.815239
7    -0.679366
8    -0.543493
9    -0.407620
10   -0.271746
11   -0.135873
12    0.000000
13    0.135873
14    0.271746
15    0.407620
16    0.543493
17    0.679366
18    0.815239
19    0.951113
20    1.086986
21    1.222859
22    1.358732
23    1.494606
24    1.630479
Name: Years of Experience, dtype: float64

In [25]:
z_score_salary

0    -1.630479
1    -1.494606
2    -1.358732
3    -1.222859
4    -1.086986
5    -0.951113
6    -0.815239
7    -0.679366
8    -0.543493
9    -0.407620
10   -0.271746
11   -0.135873
12    0.000000
13    0.135873
14    0.271746
15    0.407620
16    0.543493
17    0.679366
18    0.815239
19    0.951113
20    1.086986
21    1.222859
22    1.358732
23    1.494606
24    1.630479
Name: Salary, dtype: float64

#

#

# Degree of Freedom

In [26]:
a = df.shape[0]
b = df.shape[1]

degree_of_freedom = a-b
print(degree_of_freedom)

21

# Sum of Squares Regression (SSR)

In [27]:
#First we have to separate dependent and independent variables
X=df.iloc[:,:-1].values #independent variable
y=df.iloc[:,1].values # dependent variable

y_mean = np.mean(y) # this will calculate mean of dependent variable

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=0)

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,y_train)
y_predict = reg.predict(X_test) # before doing this we have to train,test and split our

SSR = np.sum((y_predict-y_mean)**2)
print(SSR)

860000000.0000002

# Sum of Squares Error (SSE)

In [28]:
# First we have to separate dependent and independent variables
X = df.iloc[:, :-1].values # independent variable
y = df.iloc[:, 1].values # dependent variable

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)
y_predict = reg.predict(X_test)

# Ensure that y and y_predict have the same length for SSE calculation
y = y[0:5] # Use y_test instead of truncating y

SSE = np.sum((y - y_predict) ** 2)
print(SSE)

2131999999.9999998

#

#

# Sum of Squares Total (SST)

In [29]:
mean_total = np.mean(df.values) # here df.to_numpy()will convert pandas Dataframe to Nump
SST = np.sum((df.values-mean_total)**2)
print(SST)

81989604516.75002

# R-Square

In [30]:
r_square=SSR/SST
r_square

0.010489134629553032

# Hypothesis Testing

In [31]:
from scipy import stats
t_stat, p_value = stats.ttest_ind(df["Years of Experience"], df["Salary"])

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

T-statistic: -21.735300458230686
P-value: 1.7235365197098367e-26

# Regression Analysis

In [32]:
from sklearn.linear_model import LinearRegression
X = df[["Years of Experience"]]
y = df["Salary"]

reg = LinearRegression()
reg.fit(X, y)

slope = reg.coef_[0]
intercept = reg.intercept_
print(f"Linear Regression Equation: Salary = {slope:.2f} * Years of Experience + {intercept:.2f}")

Linear Regression Equation: Salary = 2000.00 * Years of Experience + 38000.00